body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #f7f7f7;
}

.game-container {
    text-align: center;
    padding: 20px;
}

.game-header {
    background: #4CAF50;
    color: white;
    padding: 10px 0;
}

.game-main {
    background: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.letter-display {
    font-size: 10rem;
    margin-bottom: 20px;
}

.timer {
    font-size: 1.5rem;
}

.game-sections {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.controls-section, .player-scores-section {
    flex: 1;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: white;
}

.language-select, .random-category, .score-controls {
    margin: 10px 0;
}

.language-option, .random-category {
    display: inline-block;
    margin-right: 15px;
}

.btn {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.btn:hover {
    background: #45a049;
}

.player-score {
    background: #e7e7e7;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}

.score-btn {
    background: #ddd;
    padding: 5px 10px;
    margin-right: 5px;
    text-decoration: none;
    color: #333;
    border-radius: 4px;
    display: inline-block;
}

.score-btn:hover {
    background: #ccc;
}

.add-player-form {
    margin-top: 20px;
}

.player-input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

img {
    width: 100px;
    height: auto;
}

.category-name {
    font-size: 5vh; /* Large category name, but smaller than the letter */
    margin-top: 1vh;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.celebration-gif {
    display: block;
    width: 100%;
    height: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
